<section class="detail"> 
            <img class="detail" src=<%= book.image %>>
            <h4 class="detail"> <%= book.title %></h4>
            <p class="detail"> <%= book.author %></p>
            <p class="detail"> <%= book.description %></p>
            <p class="detail"> <%= book.isbn %></p>
            <p class="detail"> <%= book.bookshelf %> ( Bookshelf feature coming soon! )</p>
</section>