<section>
            <h4> <%= book.title %></h4>
            <p> <%= book.author %></p>
            <p> <%= book.description %></p>
            <p> <%= book.isbn %></p>
            <p> <%= book.bookshelf %></p>
            <p><%= book.image %></p> 
            <a href="/ %>">It's Late. Go HOME.</a>
</section>
