<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../layout/head') %>
    </head>
<body class="detail">
    <header>
            <%- include('../../layout/header') %>
    </header>
    <%- include('detail', {book: book}) %>
    <section>
        <a class="homepage" href="/books/<%= book.id %>">Update details</a>
        <a class="homepage" href="/books/<%= book.id %>">Delete book</a>
        <form action="/books/<%= book.id %>" ?_method="PUT" method="POST">
            <%- include('../../layout/edit', {book: book}) %>
            <button type="submit">Save Updates</button>
        </form>
    </section>
    <section>
        <a class="detail" href="/">Library is closing in 10 minutes. [Go home]</a>
    </section>
</body>
</html>