<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../layout/head') %>
    </head>
<body class="detail">
    <header>
            <%- include('../../layout/header') %>
    </header>
    <%- include('detail', {book: book}) %>
    <section>
        <ul>
            <li>
                <form action="/edit/<%=book.id%>?_method=PUT" method="POST">
                    <%- include('../../layout/edit')%>
                    <button id="updateDetails" type="submit">Update Details</button>
                </form>
            </li>
        </ul>
            <!-- <a class="homepage" href="/books/<%= book.id %>">Delete book</a>
            <button id="deleteBook" type="submit">Delete Book</button> -->
            <!-- <form action="/books/<%= book.id %>" ?_method="PUT" method="POST">
            <button id="saveUpdates" type="submit">Save Updates</button> -->
        <!-- </form> -->
    </section>
    <section>
        <a class="detail" href="/">Library is closing in 10 minutes. [Go home]</a>
    </section>
</body>
</html>