<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../layout/head') %>
        <link rel="stylesheet" href="/styles/modules/detail.css">
    </head>
<body>
    <header>
        <%- include('../../layout/header') %>
    </header>
    <!-- <h1>Best Books!</h1> -->
    <h2 id="subheader">Search Results</h2>
    <main>
    <form action="/searches/show" method="POST">
            <% results.forEach(book => { %>
                <img src=<%= book.image %>>
                <h2 id="title"><%= book.title %></h2>
                <h3 id="authorResult"><%= book.author %></h3>
                <div>
                    <p><%= book.description %></p>
                </div>
            </form>
            <form action="/books" method="POST">
                <%- include('../../layout/edit', {book: book}) %>
                <input type="hidden" name="image" value="<%= book.image %>"/>
                <button type="submit">Ready to be checked out? Save book!</button>
            </form>
      <% }) %>
    </main>
    <a class="detail" href="/">Library is closing in 10 minutes. [Go home]</a>
</body>
</html>