<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>
    <form action="/" method="POST">
    <h1>Book App Homepage</h1>
    <section>
            <% books.forEach(book => { %>
                    <h4> <%= book.title %></h4>
                    <p> <%= book.author %></p>
                    <p> <%= book.description %></p>
                    <p> <%= book.id %></p>
                    <a href="/books/<%= book.id %>">View details</a>
            <% }) %>
    </section>
    </form>
</body>
</html>