<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layout/head') %>
    </head>
<body>
    <h1>Book App Homepage</h1>
    <section>
            <% books.forEach(book => { %>
                    <h4> <%= book.title %></h4>
                    <p> <%= book.author %></p>
                    <p> <%= book.description %></p>
                    <p> <%= book.id %></p>
                    <a href="/books/<%= book.id %>">View details</a>
            <% }) %>
    </section>
</body>
</html>