<!DOCTYPE html>
<html lang="en">
    <%- include ('../layout/head’) %>
<body>
    <form action="/" method="POST">
    <h1>Book App Homepage</h1>
    <section>
            <% books.forEach(book => { %>
                    <h4> <%= book.title %></h4>
                    <p> <%= book.author %></p>
                    <p> <%= book.description %></p>
                    <p> <%= book.id %></p>
                    <a href="/books/<%= book.id %>">View details</a>
            <% }) %>
    </section>
    </form>
</body>
</html>